.advantages__container{
  padding-top: 70px;
  padding-bottom: 70px;
}

.advantages__heading{
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}

.advantages__list{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: -10px;
  list-style: none;
}

.advantages__item{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 286px;
  margin: 10px;
}

.advantages__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: 28px;
  font-weight: bold;

  &::before{
    content: "";
    min-width: 48px;
    min-height: 48px;
    margin-bottom: 10px;
    background-image: url('../img/check-square.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.advantages__description{
  margin: 0;
  color: $text-color;
}

@media only screen and (max-width: 978px){
  .advantages__list{
    justify-content: center;
    margin: -20px;
  }

  .advantages__item{
    margin: 20px;
  }
}

@media only screen and (max-width: 650px){
  .advantages__container{
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .advantages__heading{
    margin-bottom: 25px;
    font-size: 25px;
  }

  .advantages__item{
    max-width: 100%;
  }
}