.delivery{
  background-color: $secondary-bg-color;
}

.delivery__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 47px;
  padding-bottom: 47px;
}

.delivery__heading{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  
  &::before{
    content: "";
    width: 43px;
    height: 43px;
    margin-right: 15px;
    background-image: url('../img/truck.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.delivery__text{
  margin: 0;
  color: $text-color;
}

.delivery__button{
  padding: 15px 30px;
}


@media only screen and (max-width: 750px){
  .delivery__container{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .delivery__heading{
    font-size: 22px;
  }

  .delivery__button{
    display: none;
  }
}