.hero{
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 65px;
}

.hero__text-wrapper{
  max-width: 435px;
}

.hero__heading{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  color: $heading-color;
}

.hero__text{
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 25px;
  color: $heading-color;
}

.hero__more-link{
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 4px solid $orange-color;
  text-decoration: none;
  color: $heading-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: border-bottom 0.3s ease,
  opacity 0.3s ease;

  &:hover{
    border-bottom: 4px solid $main-color;
  }

  &:active{
    opacity: 0.6;
  }
}

@media only screen and (max-width: 1020px){
  .hero__container{
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 930px){
  .hero__container{
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero__text-wrapper{
    max-width: 435px;
    text-align: center;
  }

  .hero__image{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 550px){
  .hero__container{
    justify-content: center;
  }

  .hero__text-wrapper{
    text-align: left;
  }

  .hero__image{
    margin-top: 5px;
  }

  .hero__heading{
    margin-bottom: 10px;
    font-size: 25px;
  }
  
  .hero__text{
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .hero{
    background-image: url('../img/hero-bg@2x.jpg');
  }
}