.logo{
  display: inline-block;
  transition: opacity 0.3s ease;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}

.logo__img{
  display: block;
  min-width: 176px;
  min-height: 28px;
}